
@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common


@if (Model != null && Model.Any())
{
    <h3>Giỏ hàng <span style="float:right;"><small>@Model.Count()</small></span></h3>
    var i = 0;
    var tongtien = decimal.Zero;
    <div style="border:1px solid #808080;">
        <table class="table">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá</th>

            </tr>
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>

                </tr>
                i++;
            }
            <tr>
                <td colspan="2">Tổng tiền</td>
                <td>@Common.FormatNumber(tongtien, 0)</td>
            </tr>
        </table>
    </div>
}
else
{

}